.toolbar {
    color: blue;

}

table {
    width: 100%;
  }

  .tableDetails{
      width: 100%;
  }

  .resourceDetails{
      width: 100%;
      text-align: center;
      color: green;
  }

  .button2{
      text-align: center;
  }