.open-requirement-form-controls-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}

.open-requirement-form-header{
    display: flex;

    span > *{
        flex: 1;
    }
}



.header-fill-gap-span{
    flex: auto;
}

.open-requirement-form{
    padding-right: 20px;
    flex: 1;
}

.open-requirement-form >*{
    padding: 5px;
    margin: 2px;
}

.parent-flex-container{
    
}

.child-flex-container{
    flex:1;
}

.controles-container > * {
    width: 95%;
}

.form-submit-button{
    text-align: center;
    padding: 10px;
}
.button{
    position: absolute;
}

.radio-btn-grp{
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
}

.radio-label{
    text-align: start;
}

.radio-btn-value{
    padding-right: 5px;
}

.text-area-control{
    padding-top: 0;
}