.page-not-foung-container{
    display: block;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.page-not-found-card{
    display: block;
}

img {
    max-width: 500px;
}


