<div class="mat-typography">
  <h1 class="mat-display-2">{{title}}</h1>
  <mat-drawer-container color="primary" class="dashboard-container">
    <mat-drawer mode="side" opened>
      <nav>
        <!--<a routerLink="/requirements">Open Requirements</a>-->
        <button mat-button routerLink="/requirements">Open Requirements</button>
        <br>
        <!--<a routerLink="/resourceupload">Resource Upload</a>-->
        <button mat-button routerLink="/resourceupload">Resource Upload</button>
      </nav>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>