<div class="mat-typography resource-upload-container">
    <div class="resource-upload-header">
      <h2 mat-dialog-title class="resource-upload-headerline">Edit Resource ID for : {{resultantArray[0].cogId}} </h2>
      <span class="header-fill-gap-span"></span>
          <span class="header-button-span">
              <button mat-button class="form-close-button" (click)="formCloseButton()">
                  <mat-icon>clear</mat-icon>
              </button>
          </span>
    </div>
  
    <hr>
  
    <div class="resource-upload-form-container">
      <form (ngSubmit)="submitResources()" [formGroup]="resourceForm" class="resource-upload-form-control">
  
          <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="space-between center"
          class="fx-layout-form-control">
  
          <div fxFlex="20%" fxFlexFill>
              <div class="controles-container">
                <mat-form-field class="form-group" appearance="outline">
                  <mat-label>Skill Set</mat-label>
                  <input matInput class="form-control" formControlName="skillSet" placeholder="Skill Set" type="text"
                    required />
                </mat-form-field>
              </div>
            </div>
  
          <div fxFlex="20%" fxFlexFill>
              <div class="controles-container">
                <mat-form-field class="form-group" appearance="outline">
                  <mat-label>Experience</mat-label>
                  <input matInput class="form-control" formControlName="experience" placeholder="Experience" type="text"
                    required />
                </mat-form-field>
              </div>
            </div>
    
            <div fxFlex="20%" fxFlexFill>
                <div class="controles-container">
                  <mat-form-field class="form-group" appearance="outline">
                    <mat-label>Project Role</mat-label>
                    <mat-select class="form-control" formControlName="role" placeholder="Project Role" required>
                      <mat-option *ngFor="let role of roles" [value]="role.role">
                        {{role.role}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
  
              <div fxFlex="20%" fxFlexFill>
                  <div class="controles-container">
                    <mat-form-field class="form-group" appearance="outline">
                      <mat-label>Rate</mat-label>
                      <mat-select class="form-control" formControlName="rate" placeholder="Rate" required>
                        <mat-option *ngFor="let rate of roles" [value]="rate.rate">
                          {{rate.rate}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
  
        </div>
  
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="space-between center"
          class="fx-layout-form-control">
  
          <div fxFlex="30%" fxFlexFill>
            <div class="controles-container">
              <mat-form-field class="form-group" appearance="outline">
                <mat-label>Project ID</mat-label>
                <mat-select class="form-control" formControlName="projectId" placeholder="Project ID" required>
                  <mat-option *ngFor="let id of projectdetails" [value]="id.id">
                    {{id.id}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
  
          <div fxFlex="30%" fxFlexFill>
            <div class="controles-container">
              <mat-form-field class="form-group" appearance="outline">
                <mat-label>Project Name</mat-label>
                <mat-select class="form-control" formControlName="projectName" placeholder="Project Name" required>
                  <mat-option *ngFor="let name of projectdetails" [value]="name.name">
                    {{name.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
  
          <div fxFlex="30%" fxFlexFill>
            <div class="controles-container">
              <mat-form-field class="form-group" appearance="outline">
                <mat-label>Resource Name</mat-label>
                <input matInput class="form-control" formControlName="name" placeholder="Resource Name" type="text"
                  required />
              </mat-form-field>
            </div>
          </div>
        </div>
  
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="space-between center"
          class="fx-layout-form-control">
  
          <div fxFlex="30%" fxFlexFill>
            <div class="controles-container">
              <mat-form-field class="form-group" appearance="outline">
                <mat-label>Resource WM ID</mat-label>
                <input matInput class="form-control" formControlName="wmId" placeholder="Resource WM ID" type="text"
                  required />
              </mat-form-field>
            </div>
          </div>
  
          <div fxFlex="30%" fxFlexFill>
            <div class="controles-container">
              <mat-form-field class="form-group" appearance="outline">
                <mat-label>Resource CTS ID</mat-label>
                <input matInput class="form-control" formControlName="cogId" placeholder="Resource CTS ID" type="text"
                  required />
              </mat-form-field>
            </div>
          </div>
  
          <div fxFlex="30%" fxFlexFill>
            <div class="controles-container">
              <mat-form-field class="form-group" appearance="outline">
                <mat-label>FG Worker ID</mat-label>
                <input matInput class="form-control" formControlName="fgWorkId" placeholder="FG Worker ID" type="text"
                  required />
              </mat-form-field>
            </div>
          </div>
        </div>
  
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="space-between center"
          class="fx-layout-form-control">
  
          <div fxFlex="30%" fxFlexFill>
            <div class="controles-container">
              <mat-form-field class="form-group" appearance="outline">
                <mat-label>FG Contract ID</mat-label>
                <input matInput class="form-control" formControlName="fgContract" placeholder="FG Contract ID" type="text"
                  required />
              </mat-form-field>
            </div>
          </div>
  
          <div fxFlex="30%" fxFlexFill>
            <div class="controles-container">
              <mat-form-field class="form-group" appearance="outline">
                <mat-label>Billability : </mat-label>
                <mat-select class="form-control" formControlName="billability" placeholder="Billability" required>
                  <mat-option value="Billable">Billable</mat-option>
                  <mat-option value="Non-Billable">Non-Billable</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
  
          <div fxFlex="30%" fxFlexFill>
            <div class="controles-container">
              <mat-form-field class="form-group" appearance="outline">
                <mat-label>Location : </mat-label>
                <mat-select class="form-control" formControlName="location" placeholder="Location" required>
                  <mat-option value="Onsite">Onsite</mat-option>
                  <mat-option value="Offshore">Offshore</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
  
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="space-between center"
          class="fx-layout-form-control">
  
          <div fxFlex="30%" fxFlexFill>
            <div class="controles-container">
              <mat-form-field class="form-group" appearance="outline">
                <mat-label>Project Start Date</mat-label>
                <input class="form-control" matInput [matDatepicker]="pickerStart" placeholder="Project Start Date"
                  formControlName="pickerStart" />
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
  
          <div fxFlex="30%" fxFlexFill>
            <div class="controles-container">
              <mat-form-field class="form-group" appearance="outline">
                <mat-label>Project End Date</mat-label>
                <input class="form-control" matInput [matDatepicker]="pickerEnd" placeholder="Project End Date"
                  formControlName="pickerEnd" />
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
  
          <div fxFlex="30%" fxFlexFill>
            <div class="controles-container">
              <mat-form-field class="form-group" appearance="outline">
                <mat-label>Allocation (in %)</mat-label>
                <input matInput class="form-control" formControlName="allocation" placeholder="Allocation (in %)" type="number"
                  required />
              </mat-form-field>
            </div>
          </div>
        </div>
  
        <div class="form-buttons" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="space-between center">
  
          <div fxFlex="auto" fxFlexFill fxFlexAlign="start" class="button2">
            <button mat-flat-button color="primary" class="submit-resource-button" [disabled]="!resourceForm.valid" type="submit">
              <span><b>Update</b></span>
            </button>
          </div>
  
        </div>
      </form>
    </div>
  </div>