<div class="mat-typography open-requirement-container">
  <div class="open-requirement-header">
    <h2 class="open-requirement-headerline">Open Requirements
      <hr>
    </h2>
  </div>
  <div class="open-requirement-body">
    <div class="open-requirement-form-body">
      <div class="add-requirement-button-container">
        <button mat-raised-button class="add-requirement-button" color="primary" (click)="openDialog()">
          <mat-icon>add_box</mat-icon>
          Add Requirement
        </button>
      </div>
    <br>
    </div>
    <div class="open-requirement-view-body">
      <app-open-requirements-view></app-open-requirements-view>
    </div>
  </div>
</div>